---
layout: page
permalink: /archives/
title: "ARCHIVES"
description: "Industry is the parent of success."
header-img: "img/post-bg-universe.jpg"
---
<ul>
  {% for post in site.posts %}
    {% unless post.next %}  
      <h1>{{ post.date | date: '%Y年' }}</h1>
      <br>
    {% else %}
    <HR align=left width=300 color=#987cb9 SIZE=1>
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2>{{ post.date | date: '%Y年' }}</h2>
      {% endif %}
    {% endunless %}

    <li><font size=5>{{ post.date | date:"%Y年%m月%d日：" }}</font> <a href="{{ post.url }}"><font size=5>{{ post.title }}</font></a></li>
      &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<font color="#D6D6D6">—&emsp;{{ post.subtitle }}</font>
  {% endfor %}
</ul>

<!-- Handle Language Change -->
<script type="text/javascript">
  // get nodes
  var $zh = document.querySelector(".zh");
  var $en = document.querySelector(".en");
  var $select = document.querySelector("select");

  // bind hashchange event
  window.addEventListener('hashchange', _render);

  // handle render
  function _render(){
      var _hash = window.location.hash;
      // en
      if(_hash == "#en"){
          $select.selectedIndex = 1;
          $en.style.display = "block";
          $zh.style.display = "none";
      // zh by default
      }else{
          // not trigger onChange, otherwise cause a loop call.
          $select.selectedIndex = 0;
          $zh.style.display = "block";
          $en.style.display = "none";
      }
  }

  // handle select change
  function onLanChange(index){
      if(index == 0){
          window.location.hash = "#zh"
      }else{
          window.location.hash = "#en"
      }
  }

  // init
  _render();
</script>
